<div class="row" *ngIf="comments">
  <div class="col-2 col-sm-1 col-lg-2 proImg">
    <img src="{{imgSrc}}" *ngIf="imgSrc">
    <img src="../../assets/images/user.png" *ngIf="!imgSrc">
  </div>
  <div class="col-8">
    <textarea class="form-control" id="commentBox" rows="1" maxlength="140"
        [(ngModel)]="content"></textarea>
    <div id="charCounter"></div>
  </div>
  <div class="col-2">
    <button class="btn btn-info btn-sm" (click)="createComment()"
        [attr.disabled]="content.length < 1 ? true : null">Post</button>
  </div>
  <div class="container">
    <div class="row" *ngFor="let comment of comments">
      <div class="col-2 col-sm-1 col-lg-2 proImg" *ngIf="!comment.isMine">
        <img src="{{comment.sender.imageLink}}" *ngIf="comment.sender.imageLink">
        <img src="../../assets/images/user.png" *ngIf="!comment.sender.imageLink">
      </div>
      <div class="col-8 commentsRow" *ngIf="!comment.isMine">
        <p><b>{{comment.sender.firstName}} {{comment.sender.lastName}} </b>{{comment.content}}</p>
      </div>
      <div class="col-2"></div>
      <div class="col-8 commentsRow" *ngIf="comment.isMine">
        <p><b>{{comment.sender.firstName}} {{comment.sender.lastName}} </b>{{comment.content}}</p>
      </div>
      <div class="col-2 col-sm-1 col-lg-2 proMyImg" *ngIf="comment.isMine">
        <img src="{{comment.sender.imageLink}}" *ngIf="comment.sender.imageLink">
        <img src="../../assets/images/user.png" *ngIf="!comment.sender.imageLink">
      </div>
    </div>
  </div>
</div>