<div class="col-12 row projectDetail" *ngIf="project">
  <div class="row firstRow">
    <h4><b>Loyihaning holati </b></h4>
    <button class="btn btn-info" id="state2" disabled>Rejaga kiritilgan<br/>{{dates[0]}}</button>
    <button class="btn btn-info" id="state3" disabled>Boshlangan<br/>{{dates[1]}}</button>
    <button class="btn btn-info" id="state4" disabled>Sinov muddatida<br/>{{dates[2]}}</button>
    <button class="btn btn-info" id="state5" disabled>Tugatilgan<br/>{{dates[2]}}</button>
  </div>
  <h2 class="col-12">{{project.name}}</h2>
  <div class="col-12 col-sm-3 col-md-4">
    <h4><i>Loyiha rahbari:</i> {{project.profile.firstName}} {{project.profile.lastName}}</h4>
    <br>
    <p>Loyiha boshlangan sana: <span style="color: blue">{{dates[1]}}</span></p>
    <p>Loyiha muddati: <span style="color: blue">{{project.deadline}} kun</span></p>
    <br>
    <p><i>Tavsif:</i> {{project.description}}</p>
    <br>
  </div>
  <div class="col-12 col-sm-6 col-md-4 projectImgBlock">
    <img *ngIf="project.imgLink" src="{{project.imgLink}}" class="projectImg">
  </div>
  <div class="col-12 col-sm-3 col-md-4 proMinInfDeps">
    <div class="col-12 minInfDeps">
      <h5>Bo'limlar:</h5>
      <h6 *ngFor="let department of project.projectDeps" class="animated lightSpeedIn" (mouseenter)="addClass($event)" (mouseleave)="removeClass($event)"><a routerLink="/departments/{{department.department.id}}">{{department.department.name}}</a></h6>
    </div>
  </div>
  <div class="row container" style="margin: unset">
    <h2>Loyiha qatnashchilari</h2>
  </div>
  <div class="row" style="margin: 15px; max-width: 100%;" *ngIf="emps">
    <div class="bestProjectsRow">
      <div class="col-12 col-sm-8 col-lg-6 col-xl-4 animated fadeInRight" *ngFor="let emp of emps">
        <app-one-engineer [engineer] = 'emp'></app-one-engineer>
      </div>
    </div>
  </div>
</div>