<div class="col-12 row profileMain" *ngIf="profile">
  <div class="col-12 col-sm-4 col-md-3 col-lg-4 col-xl-3 profileImgBlock">
    <img *ngIf="profile.imageLink" src="{{profile.imageLink}}" class="profileImg">
    <img *ngIf="!profile.imageLink" src="assets/images/user.png" class="profileImg">
  </div>
  <div class="col-12 col-sm-8 col-lg-7 col-xl-6 profileInfo">
    <h2>{{ profile.firstName }} {{ profile.lastName }}</h2>
    <h5 *ngIf="profile.position">{{profile.position.name}}</h5>
    <p *ngIf="profile.skills">Mutahassisliklari: <span *ngFor="let skill of skills">  <span class="fa fa-check"></span> {{ skill }}</span></p>
    <div class="row">
      <div class="col-6 col-lg-5 col-xl-4 profileJSS">
        <p>100%</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar"
          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
        </div>
        <span>Ish unumdorligi</span>
      </div>
      <div class="col-6 col-sm-6">
        <h5 class="tushum">0</h5>
        <span>Tugallangan proyekt</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-3 row proMinInf">
    <div class="col-12 col-sm-4 col-lg-3 col-xl-12 minInf" *ngIf="profile.birthDate">
      <h5>Birthday:</h5>
      <h6><i class="fa fa-birthday-cake"></i> {{profile.birthDate}}</h6>
    </div>
    <div class="col-12 col-sm-4 col-lg-5 col-xl-12 minInf" *ngIf="profile.email">
      <h5>E-mail:</h5>
      <h6><i class="fa fa-envelope-o"></i> {{profile.email}}</h6>
    </div>
    <div class="col-12 col-sm-4 col-lg-3 col-xl-12 minInf" *ngIf="profile.phoneNumber">
      <h5>Phone Number:</h5>
      <h6><i class="fa fa-phone"></i> +{{profile.phoneNumber}}</h6>
    </div>
  </div>
  <div class="col-12 eduInfo" *ngIf="profile.studyPlace">
    <h4>Ta'lim darajasi:</h4>
    <h5><span>{{profile.studyDegree}} </span><span>| {{profile.studyPlace}}</span></h5>
  </div>
</div>
<app-my-projects></app-my-projects>